body {
  text-align: center;
  font-style: helvetica
}
div.topnav, .headers {
  background-image: url(flatironbuilding.png);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
}
p{
  font-size: 14px;
}
.footer{
  text-align: left;
  background-color: dimgray;
  color: white;

}
a {
  color: inherit;
}
.copyright{
  display: inline-block;
  font-size: 11px;
}
